@import "../main";
.colors-types{
  &-container{
    max-width: 1920px;
    min-width: 320px;
    padding: 140px;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  &-logo {
    position: absolute;
    left: 30px;
    top: 30px;
  }
}
.colors-container{
  max-width: 282px;
  .color-wrapper{
    padding-bottom: 20px;
  }
}
.types-container{
  max-width: 436px;
  .type-wrapper{
    padding-bottom: 50px;
  }
}
