@import "src/styles/main";
.ghost-button{
  position: relative;
  box-sizing: border-box;
  padding: 11px 18px 12px;
  border-radius: 22px;
  outline: none;
  // gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);


  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: (14,63/12);
  text-transform: uppercase;
  color: $Purple;

  transition: all 0.3s ease-in-out;

  background-color: #FFFFFF;
  $border: 2px;
  background-clip: padding-box;
  border: inset $border transparent;
  &::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
  &:hover::before{
    opacity: 0.5;
  }
}

