@import "../../../styles/main";
.type-box {
  display: flex;
  flex-flow: row;
  font-family: $Montserrat;
  &__tag {
    width: 37px;
    font-weight: normal !important;
    color: $DarkShade25 !important;
    text-align: right;
    &_sub-section{
      @include sub-section
    }
    &_widget-title{
      @include widget-title
    }
    &_label-cta-text{
      @include label-cta-text
    }
    &_body-text{
      @include body-text
    }
  }
  &__text {
    width: 369px;
    padding-left: 30px;
    &_sub-section{
      @include sub-section
    }
    &_widget-title{
      @include widget-title
    }
    &_label-cta-text{
      @include label-cta-text
    }
    &_body-text{
      @include body-text
    }
  }
}
