.gray-logo
    img(src="/dist/img/icon/logo-gray.png" alt="Logo")
.colors-and-types-container
    .color-block-wrapper
        include ../color-block/color-block
    .type-block-wrapper
        include ../type-block/type-block
