img.gray-logo(src="../dist/img/icon/gray-logo.png" alt="Logo")
.colors-and-types-container
    .color-block-wrapper
        include color-block/color-block
    .type-block-wrapper
        include type-block/type-block
