{
  "parser": "@babel/eslint-parser",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": ["warn", "double"],
    "arrow-parens": "off",
    "require-jsdoc": "off",
    "max-len": ["warn", { "code": 140 }]
  },
  "extends": [
    "eslint:recommended",
    "google"
  ]
}
