@import "src/styles/main";
.bullet-list{
    list-style: none;
  &__item{
    padding-bottom: 10px;

    font-size: 14px;
    line-height: (24/14);
    color: $DarkShade75
 }
  &__marker{
    display: inline-block;
    margin-right: 10px;
    min-width: 10px;
    min-height: 10px;

    border-radius: 50%;
    background: $DarkShade25;
  }
}
