@import "../../../styles/main";
.text-field{
  display: flex;
  flex-flow: column;
  max-width: 320px;
  font-family: $Montserrat;
  &__label{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 129%;
    text-transform: uppercase;
  }
  &__input{
    margin: 0;
    padding: 13px 15px 13px 15px;
    background: #FFFFFF;
    color: $DarkShade75;
    border: 1px solid $DarkShade25;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    &::placeholder{
      color: $DarkShade25;
    }
    &:hover{
      border: 1px solid $DarkShade50;
    }
    &:focus{
      border: 1px solid $DarkShade50;
    }
  }
}