@import "../../../styles/main";
.color-box{
  width: 100%;
  display: flex;
  align-items: center;
  &__square{
    min-width: 70px;
    min-height: 70px;
    border-radius: 6px;
    &_background_ds100{
      background: $DarkShade;
    }
    &_background_ds75{
      background: $DarkShade75;
    }
    &_background_ds50{
      background: rgba(31, 32, 65, 0.5);
    }
    &_background_ds25{
      background: $DarkShade25;
    }
    &_background_ds5{
      background: rgba(31, 32, 65, 0.05);
    }
    &_background_purple{
      background: $Purple;
    }
    &_background_green{
      background: $Green;
    }
  }
}
.box-name{
  padding-left: 40px;
  white-space: nowrap;

  font-size: 19px;
  line-height: (28/19);
  &__name{
    font-weight: bold;
  }
}
