@import "../../../styles/main";
.color-box{
  display: flex;
  flex-direction: row;
  max-width: 282px;
  max-height: 90px;
  padding-bottom: 20px;
  &__square{
    padding: 35px 35px;
    border-radius: 6px;
    &_background_ds100{
      background: $DarkShade;
    }
    &_background_ds75{
      background: $DarkShade75;
    }
    &_background_ds50{
      background: rgba(31, 32, 65, 0.5);
    }
    &_background_ds25{
      background: $DarkShade25;
    }
    &_background_ds5{
      background: rgba(31, 32, 65, 0.05);
    }
    &_background_purple{
      background: $Purple;
    }
    &_background_green{
      background: $Green;
    }
  }
}
.box-name{
    padding: 7px 1px 34px 40px;
    font-family: $Montserrat;
  &__name{
    font-weight: bold;
    font-size: 19px;
    line-height: 1.47;
  }
  &__hex{
    font-size: 19px;
    font-weight: 400;
    line-height: 1.47;
  }
}
