mixin colorBox(colorName, colorHex, squareBack)
    .color-box
        .color-box__square(class=`color-box__square_background_${squareBack}`)
        .box-name
            .box-name__name= colorName
            .box-name__hex= colorHex
