@import "src/styles/main";
.regular-button{
  padding: 14px 21px 15px 19px;
  border-radius: 22px;
  outline:none;
  border: none;

  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: (15 / 12);
  text-transform: uppercase;

  color: #FFFFFF;

  &:hover{
    opacity: 0.5;
  }
  &:active{
    opacity: 1;
  }
}
