@import "src/styles/main";
.regular-button{
  padding: 14px 21px 15px 19px;
  border-radius: 22px;
  width: 100% ;

  background: $PrimaryGrad;

  font-weight: bold;
  font-size: 12px;
  line-height: (15 / 12);
  text-transform: uppercase;
  color: #FFFFFF;

  transition: all 0.3s ease-in-out;

  &:hover{
    opacity: 0.5;
  }
}
