mixin iconTextList(listItems)
    .icon-text-list
        for item in listItems
            .icon-text-list__item
                span.icon-text-list__icon.material-icons.md-48= item.icon
                .icon-text-list__title
                    .icon-text-list__text= item.text
                    .icon-text-list__subtext= item.subText
