mixin filterDateDropdown (action, text, name)
    form.filter-date-dropdown(action=action method="get")
        input.filter-date-dropdown__input(placeholder= text spellcheck="false" readonly)
        span.filter-date-dropdown__expand.material-icons expand_more
