@import "src/styles/main";
.date-dropdown {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 320px;

  position: relative;
  &__block{
  }

  &__input, &__alternative {
    display: inline-block;
    max-width: 150px;

    padding: 9px 0 9px 15px;
    box-sizing: border-box;
    border: 1px solid $DarkShade25;
    border-radius: 4px;
    background: #FFFFFF;
    cursor: pointer;
  }
  &__alternative{margin-left: 20px}
  &__input::placeholder, &__alternative::placeholder{
    font-size: 14px;
    line-height: (18/14);
    color: $DarkShade75;
  }

  &__expand {
    position: absolute;
    min-width: 44px;
    min-height: 44px;

    left: 115px;
    top: 10px;

    color: $DarkShade50;
    cursor: pointer;
  }
  &__expand-alt {
    position: absolute;
    min-width: 44px;
    min-height: 44px;

    right: -10px;
    top: 10px;

    color: $DarkShade50;
    cursor: pointer;
  }
}



  // Datepicker

.datepicker{
  font-family: $Montserrat !important;
  min-width: 320px;
  &--nav{
    padding: 0 !important;
    border: none !important;
    &-title{
      padding: 20px 0 !important;

      font-weight: bold;
      font-size: 19px ;
      line-height: (23/19);
      color: #1F2041;
      i{color: #1F2041 !important;}
    }
    &-action{
      position: relative;
      padding: 20px !important;
      margin: 0 20px;
    }
  }
  &--content{
    padding: 0 20px !important;
  }
  &--day-name{
    max-width: 40px !important;
    height: 40px !important;

    font-family: $Montserrat;
    font-weight: bold;
    font-size: 12px !important;
    line-height: (15/12);
    color: $Purple !important;
  }
  &--buttons{
    border: none !important;
    flex-flow: row-reverse !important;
  }
  .datepicker--button:hover{
    background: none;
  }
  &--pointer{display: none}
}


// Cell Render

.date-dropdown__day{
  width: 40px !important;
  height: 40px !important;

  font-size: 12px;
  line-height: (15/12);
  color: $DarkShade50 !important;
  &.-disabled-{
    color: $DarkShade25 !important;
  }
  &.-current-{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%) !important;
    border-radius: 22px !important;
    color: #FFFFFF !important;
    font-weight: bold;
  }
  &.-selected-{
    background-image: linear-gradient(180deg, rgba(188, 156, 255, 1), rgba(139, 164, 249, 1)) !important;
    border-radius: 22px !important;
    color: #FFFFFF !important;
    font-weight: bold;
  }
  &.-in-range-{
    position: relative;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25)) !important;
  }
}

.date-dropdown{
  &__backward{
    position: absolute;
    left: 7px;
  }
}





