mixin dateDropdown (text, name)
    form.date-dropdown(action="#" method="get")
        .date-dropdown__block
            .date-dropdown__title Прибытие
            .date-dropdown__field
                input.date-dropdown__input(placeholder= text spellcheck="false" readonly)
                span.date-dropdown__expand.material-icons expand_more
        .date-dropdown__block
            .date-dropdown__title Выезд
            .date-dropdown__field
                input.date-dropdown__input(placeholder= text spellcheck="false" readonly)
                span.date-dropdown__expand.material-icons expand_more