mixin dateDropdown (text, name)
    form.date-dropdown(action="#" method="get")
        input.date-dropdown__input(type="text"
            placeholder= text
            )
        span.date-dropdown__expand(class="material-icons date-dropdown__expand") expand_more