@import "src/styles/main";
.radiobox{
  width: 100%;
  max-width: 220px;
  &__name{
    display: inline-block;
    font-size: 14px;
    line-height: (24/14);
    color: $DarkShade50;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    display: inline-flex;
    align-items: center;

  }
  &__input{
    display: none;
    align-items: center;
  }
  &__mark{
    display: inline-block;
    position: relative;
    margin-right: 10px;
    min-width: 20px;
    min-height: 20px;
    background: #FFFFFF;
    border: 1px solid $DarkShade25;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
  }
  &__mark::after{
    content: "";
    position: absolute;
    display: none;
  }
  &__input:checked + &__mark{
    border-color: $Purple;
  }
  &__input:checked ~ &__name{
    color: $DarkShade75;
  }
  &__input:checked ~ &__mark::after{
    display: block;
    min-width: 12px;
    min-height: 12px;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 10px;


  }
}

