include ../../form-elements/text-field/text-field
include ../../form-elements/masked-text-field/masked-text-field
include ../../form-elements/radio-buttons/radio-buttons
include ../../form-elements/toggle/toggle
include ../../form-elements/arrow-button/arrow-button
include ../../form-elements/ghost-button/ghost-button
.registration-card.card
    h2.registration-card__title Регистрация аккаунта
    .registration-card__registration-form
        .registration-card__field-block
            .registration-card__text-field
                +textField("registration-card__first-name", "Имя", "firstname", "", true)
            .registration-card__text-field
                +textField("registration-card__last-name", "Фамилия", "lastname", "", true)
        .registration-card__radio
            +radioBox([
                {name: "gender", value: "men", nameText: "Мужчина", checked: true},
                {name: "gender", value: "woman", nameText: "Женщина"}
            ], "registration-form")
        .registration-card__field-block
            .registration-card__text-field
                span.registration-card__text-field-name Дата рождения
                +maskedField("registration-card__birthday", "ДД.ММ.ГГГГ", "birthday", "", true)
        .registration-card__field-block
            .registration-card__text-field
                span.registration-card__text-field-name Данные для входа в сервис
                +textField("registration-card__email", "Email", "email")
            .registration-card__text-field
                +textField("registration-card__password", "Пароль", "password", "", true)
        .registration-card__toggle
            +toggle("registration-special", "Получать спрецпредложения", false)
        .registration-card__arrow-button
            +arrButton("Перейти к оплате", "")
    .registration-card__login
        span.registration-card__login-text Уже есть аккаунт на Toxin
        .registration-card__login-button
            +ghostBtn("Войти", "registration-card__button")