html,body{
  width: 100%;
  max-width: 1920px;
  min-width: 320px;
}
.gray-back{
  background: #E5E5E5;
}
.container{
  width: 100%;
  padding: 70px 140px 0;
  max-width: 1920px;
  min-width: 320px;
}


