$DarkShade: #1F2041;
$DarkShade75: rgba(31, 32, 65, 0.75);
$DarkShade50: rgba(31, 32, 65, 0.5);
$DarkShade25: rgba(31, 32, 65, 0.25);
$DarkShade5: rgba(31, 32, 65, 0.05);
$Purple: #BC9CFF;
$Green: #6FCF97;
$PrimaryGrad: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$Montserrat: 'Conv_Montserrat-Regular', "Montserrat", Sans-Serif;
@mixin sub-section{
  font-weight: bold;
  font-size: 24px;
  line-height: 1.21;
}
@mixin widget-title{
  font-weight: bold;
  font-size: 19px;
  line-height: 1.21;
}
@mixin label-cta-text{
  font-weight: bold;
  font-size: 12px;
  line-height: 1.21;
  text-transform: uppercase;
}
@mixin body-text{
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: $DarkShade75;
}
body{
  font-family: $Montserrat;
  max-width: 1920px;
  min-width: 320px;
}
.container{
  width: 100%;
  padding: 70px 140px 0;
  max-width: 1920px;
  min-width: 320px;
}

// Index Page Styles
.index{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &-title{
    color: $Purple;
    text-align: center;
    @include sub-section;
    font-size: 3rem;
  }
  &-subtitle{
    color: $Green;
    text-align: center;
    @include widget-title;
    font-size: 2rem;
  }
  &-link{
    color: $DarkShade75 !important;
    @include label-cta-text;
    text-decoration: underline !important;
    font-size: 2rem;
  }
  &-author{
    color: red;
    @include widget-title;
    margin-right: 1.5rem;
    font-size: 1.5rem;

    &__link{
      color: $DarkShade75 !important;
      font-size: 1.5rem;
      text-decoration: underline !important;
    }
  }
}
