//Media queries

// 1920 px

@media (max-width: 1920px) {
  // Main
  .header{max-width: 1920px}
  // Pages
  //Landing page
  .background{max-width: 1920px}
}

// 1600px

@media (max-width: 1600px) {
  // Main
  .header{max-width: 1600px }
  // Pages
  //Landing page
  .background{max-width: 1600px}
}

// 1440px

@media (max-width: 1440px) {
  // Main
  .header{max-width: 1440px }
  // Pages
  //Landing page
  .background{max-width: 1440px}
}

// 1200px

@media (max-width: 1200px) {
  // Main
  .header{max-width: 1200px}
  .footer-nav{display: none !important;}

  // Pages
  //Landing page
  .background{max-width: 1200px}
}

// 1000px
@media (max-width: 1024px) {
  // Main
  .header{
    padding: 0 50px;
    max-width: 1024px;
  }
  .footer-nav{display: none;}
  // Pages
  //Landing page
  .landing-page__subtext{}
}

// 918px

@media (max-width: 918px) {
  // Header and Footer
  .header{
    max-width: 918px;
  }
  .header-menu{display: block !important;}

  //Footer
  .nav{display: none}
  .nav-wrapper{padding-left: 0 !important;}
  .footer-wrapper{justify-content: center !important;}
  .footer-logo{padding: 120px 0 20px 0!important;}
  .subfooter{
    display: flex;
    flex-flow: column;
    padding: 0 0 120px 0 !important;
    &-buttons{
      padding-top: 25px;
    }
  }
  .footer-logo-subtext{display: none;}
  .footer-hr{display: none}
  .footer-nav{display: none !important;}
  .footer-subscribe{display: none;}

  // Pages
  //Landing page
  .landing-page{
    .background{max-width: 900px !important}
    &__subtext{display: none;}
  }
}

// 640 px

@media (max-width: 640px) {
  // Header and Footer
  .header{
    max-width: 640px;
  }
  .container{
    padding: 0 1px !important;
  }
  // Pages
  //Landing page
  .landing-page{
    .background{
      //position: initial !important;
      max-width: 640px
    }
  }
}
// 500px (Padding fix)
@media (max-width: 500px) {
  .header {padding: 0 5px}
  .logo-text {font-size: 15px   ;padding-left: 5px !important;}
  .header-ghost-button-wrapper {padding-left: 5px !important}
}

// 425px

@media (max-width: 440px) {
  // Header
  .header{
    max-width: 440px;
    .regular-button{
      font-size: 10px;
      padding: 14px 12px 15px 12px;
    }
    .ghost-button{
      font-size: 10px
    }
    &-menu{font-size: 40px !important;}
  }


  // Foooter
}

// 370px

@media (max-width: 376px) {
  // Header
  .header{
    max-width: 376px;
    min-height: 60px;
    &-menu{font-size: 30px !important;}
    &-buttons-block{padding-left: 2px !important;}
    .logo-icon {
      max-width: 35px !important;
      max-height: 35px!important;
    }
    .regular-button{
      font-size: 9px;
    }
    .ghost-button{
      font-size: 9px
    }
  }
  // Footer
}












