//Media queries

// 1920 px

@media (max-width: 1920px) {
  // Header
  .header{max-width: 1920px}
}

// 1600px

@media (max-width: 1600px) {
  // Header
  .header {
    max-width: 1600px
  }
}
// 1440px

@media (max-width: 1440px) {
  // Header
  .header{max-width: 1440px }
}

// 1200px

@media (max-width: 1200px) {
  // Header
  .header{max-width: 1200px}
  .footer-nav{display: none !important;}
}

// 1024px

@media (max-width: 1024px) {
  // Header
  .header{
    padding: 0 50px;
    max-width: 1024px;
  }
  .footer-nav{display: none;}
}

// 918px

@media (max-width: 975px) {
  // Header
  .header{
    max-width: 975px;
  }
  .header-menu{display: block !important;}

  //Footer
  .nav{display: none}
  .nav-wrapper{padding-left: 0 !important;}
  .footer-wrapper{justify-content: center !important;}
  .footer-logo{padding: 120px 0 20px 0!important;}
  .subfooter{
    display: flex;
    flex-flow: column;
    padding: 0 0 120px 0 !important;
    &-buttons{
      padding-top: 25px;
    }
  }
  .footer-logo-subtext{display: none;}
  .footer-hr{display: none}
  .footer-nav{display: none !important;}
  .footer-subscribe{display: none;}
}

// 600px (Padding fix)
@media (max-width: 600px) {
  .header {padding: 0 5px !important;}
  .logo-text {font-size: 15px   ;padding-left: 5px !important;}
  .header-ghost-button-wrapper {padding-left: 5px !important}
}

// 440px

@media (max-width: 440px) {
  // Header
  .header{
    max-width: 440px;
    .regular-button{
      font-size: 10px !important;
      padding: 14px 12px 15px 12px;
    }
    .ghost-button{
      font-size: 10px !important;
    }
    &-menu{font-size: 40px !important;}
  }
}

// 376px

@media (max-width: 376px) {
  // Header
  .header{
    max-width: 376px;
    &-menu{font-size: 30px !important;}
    &-buttons-block{padding-left: 2px !important;}
    .logo{
      &-icon {
        max-width: 35px !important;
        max-height: 35px!important;
      }
      &-text{
        font-size: 13px;
        }
    }
    .regular-button{
      font-size: 8px !important;
    }
    .ghost-button{
      font-size: 8px !important;
    }
  }
  // Footer
  .subfooter{
    &__copyright{font-size: 12px !important;}
  }
}

// Media template
//@media (max-width: 1920px) {}
//@media (max-width: 1600px) {}
//@media (max-width: 1440px) {}
//@media (max-width: 1200px) {}
//@media (max-width: 1024px) {}
//@media (max-width: 918px) {}
//@media (max-width: 640px) {}
//@media (max-width: 440px) {}
//@media (max-width: 376px) {}








