.registration-page{
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 70px;

  background-image: url("../../assets/img/backgrounds/registration-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  max-width: 1920px;
  min-height: 753px;
  max-height: 753px;
  &-card-wrapper {
  }
}
// Media

@media (max-width: 376px) {
  .registration-page {
    &-card-wrapper {
      max-width: 310px;
    }
  }
}


