.img-block{
  display: flex;
  position: relative;
  max-width: 1920px;
  top: 70px;
  &__main-img{
    width: 68.125%;
  }
  &__imgs{
   width: 31.875%;
  }
  &__img{
    min-width: 100%;
    object-fit: cover;
  }
}

.room-details{
  .room-block{
    padding: 70px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .main-field{
      max-width: 710px;

      &__title{
        padding-bottom: 20px;

        white-space: nowrap;
        font-weight: bold;
        font-size: 19px;
        line-height: (23/19);
      }
      &__subtitle{
        white-space: nowrap;
        padding-bottom: 20px;

        font-size: 14px;
        line-height: 1;
        color: rgba(31, 32, 65, 0.5)
      }
      &__text{
        font-size: 14px;
        line-height: (24/14);
        color: rgba(31, 32, 65, 0.75);
      }

      &-info-section{
        display: flex;
        flex-direction: row;
        padding-bottom: 30px;
        .main-field__rating{
          padding-left: 70px;
        }
      }


      &-comment-section{
        padding-bottom: 30px;
        &__title{
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: flex-end;
        }
      }


      &-rules-section{
        display: flex;
        flex-flow: row nowrap;
        .main-field__list{
          max-width: 300px;
        }
        .main-field__cancel{
          max-width: 340px;
          padding-left: 70px;
        }
      }

      &__cancel{

      }

    }

    .card-field{
      padding-left: 100px;
    }
  }
}

@media (max-width: 1200px) {
  .room-details {
    .room-block {
      align-items: center;
      flex-direction: column-reverse;
    }
  }
  .card-field{
    padding-bottom: 50px;
  }
}
@media (max-width: 1024px) {}
@media (max-width: 918px) {}
@media (max-width: 640px) {}
@media (max-width: 600px) {
  .card-field{
    padding-left: 0!important;
    display: flex;
    align-self: center;
  }
  .main-field {
    &__rating{
      padding-left: 0 !important;
    }
    &-info-section {
      flex-direction: column !important;
      align-items: center;
    }

    &-comment-section {
      display: flex;
      flex-flow: column;
      align-items: center;
    }

    &-rules-section {
      align-items: flex-start;
    }
    &__rules{
      min-width: 160px;
    }
    &__cancel{
      padding-left: 0 !important;
    }
  }
  .container.room-details-container{
    padding: 70px 5px 0 !important;
  }
}
@media (max-width: 440px) {
  .room-block{
    padding: 20px 0 !important;
  }
}
@media (max-width: 376px) {
  .card-field{
    .card-wrapper{
      max-width: 310px;
    }
  }
}