@import "src/styles/main";

.search-room{
    display: flex;
    flex-flow: row;

    padding: 30px 0;
  .search-menu{
    display: block;
    min-width: 266px;
    max-width: 266px;
    background: #FFFFFF;
    z-index: 100;

    margin-right: 60px;
    &__title{
      font-weight: bold;
      font-size: 12px;
      line-height: (15/12);
      text-transform: uppercase;
    }
    &__subtitle{
      font-size: 12px;
      line-height: (14/12);
      color: $DarkShade50;
    }
    &__date-filter{
      padding-bottom: 20px;
    }
    &__dropdown, &__range, &__checkbox, &__rich-checkbox{
      padding-bottom: 30px;
    }
  }
  .search-body{
      &__pagination{
        display: flex;
        justify-content: center;
      }
      &__title{
        font-weight: bold;
        font-size: 24px;
        line-height: (29/24);
      }
      &__rooms{
        padding: 20px 0 40px;
      }

      &__rooms-page{
        display: grid;
        grid-template-columns: repeat(3, 270px);
        grid-template-rows: repeat(3, 257px);
        column-gap: 12px;
        row-gap: 8px;
      }
  }
}
// Functional
.search-menu-open {
  display: none;
  position: fixed;
  left: 0;
  top: 70px;
  background: $DarkShade50;
  opacity: .3;
  height: 100%;
  width: 50px;
  &__marker {
    color: $DarkShade75;
    position: absolute;
    font-size: 50px;
    top: 40%;
    transform: rotate(-90deg);
  }
}

.search-menu.slide{
  left: 50px;
  top: 70px;
  right: 0;
  bottom: 0;
  padding: 20px;
  position: fixed;
  z-index: 6000;

  overflow-y: scroll;

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.no-scroll{
  overflow: hidden;
  position: static;
}

@media (max-width: 1920px) {}
@media (max-width: 1600px) {}
@media (max-width: 1440px) {}
@media (max-width: 1200px) {
  .search-body {
    &__rooms-page {
      grid-template-columns: repeat(2, 270px) !important;
    }
  }
}
@media (max-width: 1024px) {

  .container{
    padding: 70px 50px 0;
  }
}
@media (max-width: 918px) {
  .search-room{
    &-container{
      display: flex;
      justify-content: center;
    }
    .search-menu{
      display: none;
    }
  }


  .search-menu-open{
    display: block;
    &__marker{}
  }
}
@media (max-width: 640px) {
  .search-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__rooms-page {
      grid-template-columns: repeat(2, 250px) !important;
      column-gap: 5px
    }
  }
}
@media (max-width: 600px) {
  .search-body {
    &__rooms-page {
      grid-template-columns: repeat(1, 250px) !important;
      column-gap: 0;
    }
  }
}
@media (max-width: 440px) {}
@media (max-width: 376px) {
  .search-menu-open{
    width: 35px;
    &__marker{
      left: -7px;
    }
  }
  .search-menu.slide{
    left: 35px;
  }
}