.sign-in-page{
  display: flex;
  justify-content: center;
  align-items: center;
  &__background{
    margin: 0 -140px;
    position: relative;
    max-width: 1920px;
    width: 100vw;
  }
  &-card-wrapper {
    position: absolute;


  }
}