.logo{
  display: flex;
  .logo-icon{
    display: inline-block;
    max-width: 40px;
    max-height: 40px;
  }
  .logo-text{
    font-weight: bold;
    padding-left: 15.5px;
    align-self: center;
  }
}