mixin colorBox(colorName, colorHex, squareBack)
    .color-box
        .color-box__square(class=`color-box__square_background_${squareBack}`)
        .box-name
            .box-name__name= colorName
            .box-name__hex= colorHex

.color-block
    +colorBox("Dark Shade 100%", "#1F2041", "ds100")
    +colorBox("Dark Shade 75%", "#1F2041", "ds75")
    +colorBox("Dark Shade 50%", "#1F2041", "ds50")
    +colorBox("Dark Shade 25%", "#1F2041", "ds25")
    +colorBox("Dark Shade 5%", "#1F2041", "ds5")
    +colorBox("Purple", "#BC9CFF", "purple")
    +colorBox("Green", "#6FCF97", "green")
