mixin likeBtn()
    form.like-button(action="#" method="get")
        label.like-button__label
            span.like-button__mark(class="material-icons md-10") favorite_border
            span.like-button__text 0