@import "../../../styles/main";
.toggle{
  display: inline-block;
  vertical-align: top;
  &__name{
    margin-bottom: 16px;

    font-weight: bold;
    font-size: 12px;
    line-height: (15/12);
    text-transform: uppercase;
  }
  &__text{
    margin-left: 10px;

    font-size: 14px;
    line-height: (24/14);
    color: $DarkShade75;
  }
  &__item{
    display: flex;
    flex-direction: row-reverse;
  }
  &__input{
    display: none;
  }
  &__button{
    position: relative;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid $DarkShade25;
    box-sizing: border-box;
    border-radius: 10px;
    width: 40px;
    height: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  &__button:before{
    position: absolute;
    top: 3px;
    left: 4px;
    content: "";
    display: inline-block;
    background: $DarkShade25;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    transition: all 0.3s ease;
  }
  &__input:checked + &__button{
    border: 1px solid $Purple;
  }
  &__input:checked + &__button:before{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    left: 22px;
  }
}
