mixin toggle(name, tglName, tglLabel)
    .toggle
        .toggle__name= tglName
        label.toggle__label(for=name)= tglLabel
            input.toggle__input(type="checkbox" id=name)
            .toggle__button


