@import "../../../styles/main";
.toggle{
  display: inline-block;
    &__text{
    margin-left: 10px;

    font-size: 14px;
    line-height: (24/14);
    color: $DarkShade75;
  }
  &__item{
    display: flex;
    align-items: center;
  }
  &__input{
    display: none;
  }
  &__button{
    position: relative;
    display: inline-block;

    border-radius: 10px;
    width: 40px;
    height: 20px;

    background: #FFFFFF;
    border: 1px solid $DarkShade25;

    transition: all 0.3s ease;
    cursor: pointer;
  }
  &__button:before{
    position: absolute;
    top: 3px;
    left: 4px;
    content: "";
    display: inline-block;
    background: $DarkShade25;
    border-radius: 10px;
    min-width: 12px;
    min-height: 12px;
    transition: all 0.3s ease;
  }
  &__input:checked + &__button{
    border: 1px solid $Purple;
  }
  &__input:checked + &__button:before{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    left: 21px;
  }
}
