include ../../form-elements/arrow-button/arrow-button
include ../../form-elements/dropdown/dropdown
include ../../form-elements/date-dropdown/date-dropdown
.search-card.card
    h2.search-card__title Найдём номера под ваши пожелания
    .search-card__date
        .search-card__date-dropdown
            span.search-card__date-text Прибытие
            +dateDropdown("ДД.ММ.ГГГГ", "search-card-dropdown")
        span(style="padding-left: 18px")
        .search-card__date-dropdown
            span.search-card__date-text Выезд
            +dateDropdown("ДД.ММ.ГГГГ", "search-card-dropdown")
    .search-card__guests
        .search-card__guests-title Гости
        .search-card__guests-dropdown
            +dropdown("Сколько Гостей?", "dropdown-test", [{opName:"Взрослые", opId:""},{opName:"Дети", opId:""},{opName:"Младенцы", opId:""}])
    .search-card__button
        +arrButton("Подобрать номер","search-room")
