include ../../form-elements/arrow-button/arrow-button
include ../../form-elements/dropdown/dropdown
include ../../form-elements/date-dropdown/date-dropdown
.search-card.card
    h2.search-card__title Найдём номера под ваши пожелания
    .search-card__date
        .search-card__date-dropdown
            +dateDropdown("ДД.ММ.ГГГГ", "search-card-dropdown")
    .search-card__guests
        .search-card__guests-title Гости
        .search-card__guests-dropdown
            +dropdown("search-form","Сколько Гостей?", "dropdown-test", [{opName:"Взрослые", op:"adult"},{opName:"Дети", op:"children"},{opName:"Младенцы", op:"toddler"}])
    .search-card__button
        a(href="search-room.html")
            +arrButton("Подобрать номер","search-room")
