@import "src/styles/main";
.checkbox {
  width: 100%;
  &__name {
    @include label-cta-text;
    margin-bottom: 17px;
  }

  &__input {
    display: none;
  }

  &__text {
    font-size: 14px;
    line-height: (18/14);
    color: $DarkShade50;
  }
  &__item{
    max-width: 222px;

    width: 100%;
    display: flex;
    margin-bottom: 10px;
  }


  // Marker settings
  &__mark{
    position: relative;
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    max-height: 20px;
    margin-right: 10px;
    background: #FFFFFF;
    border: 1.5px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
  }
  &__mark:after {
    content: "";
    position: absolute;
    display: none;
  }
  &__input:checked + &__mark{
    border: 1.5px solid $Purple;

  }
  &__input:checked + &__mark:after{
    display: block;
    left: 6px;
    top: 3px;
    min-width: 6px;
    min-height: 8.5px;
    max-height: 20px;
    border: solid;
    border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) 1;
    border-width: 0 2.5px 2.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  //&__input:hover + &__mark{
  //  border: 1.5px solid $Purple;
  //
  //}
  //&__input:hover + &__mark:after{
  //  display: block;
  //  left: 6px;
  //  top: 3px;
  //  min-width: 6px;
  //  min-height: 8.5px;
  //  max-height: 20px;
  //  border: solid;
  //  border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) 1;
  //  border-width: 0 2.5px 2.5px 0;
  //  -webkit-transform: rotate(45deg);
  //  -ms-transform: rotate(45deg);
  //  transform: rotate(45deg);
  //}
}