@import "src/styles/main";
.checkbox{
  &__name{
    @include label-cta-text;
    margin-bottom: 17px;
  }
  &__input{
    display: none;
  }
  &__text{
    font-size: 14px;
    line-height: (18/14);
    color: $DarkShade50;
  }
  &__mark{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
  }
  &__input:checked + &__mark{
    border: 1px solid $Purple;

  }
}