extends layout

block content
    section.landing-page
        .landing-page-card-wrapper.card-wrapper
            include ../components/cards/search-card/search-card
        .landing-page__subtext Лучшие номера для вашей работы, отдыха и просто вдохновения
