doctype html
html(lang="ru")
    head
        block head
            //can add links here
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible" content="ie=edge")
            link(rel="stylesheet" href="/main.css")
            link(href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet")
            link(rel="stylesheet" href="./node_modules/material-icons/iconfont/material-icons.css")
            title TOXIN
    body
        .header-container.container
            include ../components/header/header
        block content
        .footer-container.container
            include ../components/footer/footer
block script
    //can add script here
    script(src="/main.bundle.js")
