extends layout

block content
    .container
        section.registration-page
            img.registration-page__background.background(src="./img/backgrounds/registration-background.png")
            .registration-page-card-wrapper.card-wrapper
                include ../components/cards/registration/registration
