extends layout
include ../components/form-elements/pagination/pagination
include ../components/form-elements/filter-date-dropdown/filter-date-dropdown
include ../components/form-elements/range-slider/range-slider
include ../components/form-elements/checkbox-buttons/checkbox-buttons
include ../components/form-elements/rich-checkbox/rich-checkbox
include ../components/form-elements/expandable-checkbox/expandable-checkbox
include ../components/form-elements/dropdown/dropdown
include ../components/cards/room-card/room-card

block content
    .container
        section.search-room
            // Menu
            aside.search-menu
                .search-menu__date-filter
                    span.search-menu__title даты пребывания в отеле
                    +filterDateDropdown("search-action", "Выберите дату", "search-menu-filter")
                .search-menu__dropdown
                    span.search-menu__title гости
                    +dropdown("search-form-guest", "Сколько Гостей?", "dropdown-search-form-guest",
                            [{opName: "Взрослые", op: "adult"},
                            {opName: "Дети", op: "children"},
                            {opName: "Младенцы", op: "toddler"}]
                            )

                .search-menu__range
                    +rangeSlider("диапазон цены", "search-action")
                    span.search-menu__subtitle Стоимость за сутки пребывания в номере
                .search-menu__checkbox
                    +checkBox("search-action", "правила дома", [
                        {name: "smoke", value: "canSmoke", nameText: "Можно курить"},
                        {name: "animals", value: "withAnimals", nameText: "Можно с питомцами"},
                        {name: "guests", value: "guestsAllowed", nameText: "Можно пригласить гостей (до 10 человек)"}
                    ])
                .search-menu__rich-checkbox
                    +richCheckbox("search-action", "Доступность",
                        [{name: "wide", nameText: "Широкий коридор", subText: "Ширина коридоров в номере не менее 91 см."},
                        {name: "invalid-sup", nameText: "Помощник для инвалидов", subText: "На 1 этаже вас встретит специалист и проводит до номера."}])
                .search-menu__dropdown
                    span.search-menu__title удобства номера
                    +dropdown("search-form-facilities", "Сколько Гостей?", "dropdown-search-form-facilities",
                            [{opName: "Взрослые", op: "adult"},
                            {opName: "Дети", op: "children"},
                            {opName: "Младенцы", op: "toddler"}]
                    )
                .search-menu__expandable-checkbox
                    +expandCheckbox("search-action", "дополнительные удобства", [{nameText:"Завтрак", name:"breakfast", value:"breakfast"},{nameText:"Письменный стол", name:"table", value:"table"}])
            // Body
            section.search-body
                h2.search-body__title Номера, которые мы для вас подобрали
                .search-body__rooms
                    .search-body__rooms-page
                        +roomCard("888", "люкс", "9 990₽", "145", "room888", ["room888", "room840"], "room-details")
                        +roomCard("840", "", "9 900₽", "65", "room840", ["room840", "room888"], "room-link")
                        +roomCard("980", "люкс", "8 500₽", "35", "room980", ["room980", "room840"], "room-link")
                        +roomCard("856", "", "7 300₽", "19", "room856", ["room856", "room840"], "room-link")
                        +roomCard("740", "", "6 000₽", "44", "room740", ["room740", "room840"], "room-link")
                        +roomCard("982", "", "5 800₽", "56", "room982", ["room982", "room840"], "room-link")
                        +roomCard("678", "", "5 500₽", "45", "room678", ["room678", "room840"], "room-link")
                        +roomCard("450", "", "5 300₽", "39", "room450", ["room450", "room840"], "room-link")
                        +roomCard("350", "", "5 000₽", "77", "room350", ["room350", "room840"], "room-link")
                        +roomCard("666", "", "5 000₽", "25", "room666", ["room666", "room840"], "room-link")
                        +roomCard("444", "", "5 000₽", "15", "room444", ["room444", "room840"], "room-link")
                        +roomCard("352", "", "5 000₽", "55", "room352", ["room352", "room840"], "room-link")
                .serach-body__pagination
                    +pagination()