extends layout

block content
    .container
        section.sign-in-page
            img.sign-in-page__background.background(src="./img/backgrounds/registration-background.png")
            .sign-in-page-card-wrapper.card-wrapper
                include ../components/cards/login-card/login-card
