@import "src/styles/main";
.range-slider{
  width: 100%;
  min-height: 48px;
  &__slider{
  }
  &__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
  }
  &__values{
    justify-self: end;

    font-size: 12px;
    line-height: (15/12);
    text-transform: uppercase;
    color: $DarkShade50;
  }
  &__name{


    font-weight: bold;
    font-size: 12px;
    line-height: (15/12);
    text-transform: uppercase;
  }
}
.ui-slider{
  width: 100%;
  border-radius: 3px;
  max-height: 6px;

  background: #FFFFFF;
  border: 1px solid $DarkShade25;
  &-handle{
    max-height: 14px;
    max-width: 14px;

    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
  }
  &-range{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 3px;
  }
}
.ui-slider-horizontal .ui-slider-range{
  top: -1px !important;
  height: 150% !important;

}

