include ../../form-elements/text-field/text-field
include ../../form-elements/arrow-button/arrow-button
include ../../form-elements/ghost-button/ghost-button
.login-card.card
    h2.login-card__title Войти
    .login-card__field-block
        .login-card__text-filed
            +textField("login-card__email", "Email", "email", "", true)
        .login-card__text-field
            +textField("login-card__password", "Пароль", "password", "", true)
    .login-card__arrow-button
        +arrButton("Войти", "login-card__login")
    .login-card__registration
        span.login-card__registration-text Нет аккаунта на Toxin?
        .login-card__registration-button
            +ghostBtn("Создать", "login-card__create")