.login-card{
  width: 100%;

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: -5000;
  &__title{
    padding: 40px 30px 20px 30px;

    font-weight: bold;
    font-size: 24px;
    line-height: (29/24);
  }
  &__field-block{padding: 0 30px 30px;}
  &__text-field{padding-bottom: 10px;}
  &__arrow-button{padding-top: 10px}
  &__registration{padding: 0 30px 30px}
  &__registration{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: -2500;
    &-text{
      padding-right: 10px;
      white-space: nowrap;
      font-size: 14px;
      line-height: (18/14);
    }
    &-button{
      display: inline-block;
      z-index: 20;
    }
  }
}