include ../form-elements/button/button
include ../form-elements/ghost-button/ghost-button

header.header
    span.material-icons.header-menu.md-48 menu
    .logo-wrapper
        a(href="landing-page.html")
            include ../logo/logo
    .nav-wrapper
        nav.nav
            ul.nav-list
                li.nav-list__item
                    a.nav-list__text(href="") О нас
                li.nav-list__item_expand
                    a.nav-list__text Услуги
                        span.material-icons.nav-list__mark expand_more
                    ul.nav-list__item-list
                        li.nav-list__item
                            a.nav-list__text(href="") О сервисе
                        li.nav-list__item
                            a.nav-list__text(href="") Вакансии
                        li.nav-list__item
                            a.nav-list__text(href="") Служба поддержки
                li.nav-list__item
                    a.nav-list__text(href="") Вакансии
                li.nav-list__item
                    a.nav-list__text(href="") Новости
                li.nav-list__item_expand
                    a.nav-list__text Соглашения
                        span.material-icons.nav-list__mark expand_more
                    ul.nav-list__item-list
                        li.nav-list__item
                            a.nav-list__text(href="") О нас
                        li.nav-list__item
                            a.nav-list__text(href="") Связь с нами
                        li.nav-list__item
                            a.nav-list__text(href="") Сообщества
        .header-buttons-block
            .header-button-wrapper
                a(href="sign-in.html")
                    +ghostBtn("Войти")
            .header-ghost-button-wrapper
                a(href="registration.html")
                    +btn("Зарегистрироваться")

