include ../form-elements/button/button
include ../form-elements/ghost-button/ghost-button

header.header
    span.material-icons.header-menu.md-48 menu
    .logo-wrapper
        include ../logo/logo
    .nav-wrapper
        nav.nav
            ul.nav-list
                li.nav-list__item
                    a.nav-list__text(href="") О нас
                li.nav-list__item_with-arrow
                    a.nav-list__text Услуги
                    span.material-icons.nav-list__mark expand_more
                li.nav-list__item
                    a.nav-list__text Вакансии
                li.nav-list__item
                    a.nav-list__text Новости
                li.nav-list__item_with-arrow
                    a.nav-list__text Соглашения
                    span.material-icons.nav-list__mark expand_more
        .header-buttons-block
            .header-button-wrapper
                +ghostBtn("Войти")
            .header-ghost-button-wrapper
                +btn("Зарегистрироваться")

