@import "src/styles/main";
.header{
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1920px;
  width: 100%;
  padding: 0 140px;

  min-height: 70px;
  z-index: 99999;

  background: #FFFFFF;
  box-shadow: 0 10px 20px $DarkShade5;
  .header-menu{
    display: none;
    color: $DarkShade50;
  }

// nav style

  .nav-wrapper{
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
    .nav{
      .nav-list{
        display: flex;
        list-style-type: none;
        .nav-list__item{
          padding-right: 20px;
          display: inline;

          font-size: 14px;
          line-height: (17/14);
          color: $DarkShade50;
        }
        .nav-list__item_with-arrow{
          position: relative;
          display: inline;
          padding-right: 44px;

          font-size: 14px;
          line-height: (17/14);
          color: $DarkShade50;
        }
        .nav-list__mark{
          position: absolute;
          font-size: 24px;
          line-height: (20/24);
          color: $DarkShade50;
        }
        .nav-list__text{
          white-space: nowrap;
        }
      }
    }
  }
  // buttons style
  .header-buttons-block{
    //display: inline-block;
    display: inline-flex;
    flex-flow: nowrap;
    padding-left: 10px;
  }
  .header-button-wrapper{
    display: inline-block;
  }
  .header-ghost-button-wrapper{
    padding-left: 20px;
    display: inline-block;
  }
}

//functional css