@import "src/styles/main";

.arrow-button{
  width: 100%;
  max-width: 320px;
  &__button{
    position: relative;

    width: 100%;
    padding: 14px 20px 15px;

    background: $PrimaryGrad;
    border-radius: 22px;

    font-weight: bold;
    font-size: 12px;
    line-height: (15/12);
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover{
      opacity: 0.5;
    }
  }
  &__arrow{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 44px;
    min-height: 44px;
    top: 0;
    right: 0;

    color: #FFFFFF;
  }
  &__button:hover > &__arrow {
    transform: rotate(360deg);
    transition: all 0.5s ease;
  }
}
