@import "src/styles/main";

.borderless-button{
  width: 100%;
  font-weight: bold;
  font-size: 12px;
  line-height: (15/12);
  text-transform: uppercase;
  color: $Purple;
  background: #FFFFFF;
  &:hover{
    color: $DarkShade50;
  }
}
