@import "src/styles/main";

.expandable-checkbox{
  position: relative;
  width: 100%;
  &__name{
    font-weight: bold;
    font-size: 12px;
    line-height: (15/12);
    text-transform: uppercase;
    cursor: pointer;
  }
  &__marker{
    position: absolute;
    top: 0;
    right: -54px;
    color: $DarkShade75;
    cursor: pointer;
    transition: 500ms ease-in-out;
  }
  &__list{
    position: absolute;
    top: 35px;
  }

}
.checkbox-expanded{
  transform: rotate(180deg);
}

