include ./components/form-elements/button/button
include ./components/form-elements/ghost-button/ghost-button
include ./components/form-elements/text-field/text-field
include ./components/form-elements/dropdown/dropdown
include ./components/form-elements/checkbox-buttons/checkbox-buttons
include ./components/form-elements/radio-buttons/radio-buttons
include ./components/form-elements/arrow-button/arrow-button
include ./components/form-elements/toggle/toggle
include ./components/form-elements/subscription-text-field/subscription-text-field
include ./components/form-elements/like-button/like-button
include ./components/form-elements/rate-button/rate-button
include ./components/form-elements/range-slider/range-slider
include ./components/form-elements/borderless-button/borderless-button
include ./components/form-elements/pagination/pagination
include ./components/form-elements/rich-checkbox/rich-checkbox
include ./components/form-elements/bullet-list/bullet-list
include ./components/form-elements/icon-text-list/icon-text-list
include ./components/form-elements/expandable-checkbox/expandable-checkbox


doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="/main.css")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="./node_modules/material-icons/iconfont/material-icons.css")
        title TOXIN
    body
        img.gray-logo(src="/img/icon/logo-gray.png" alt="Logo")
        .form-boxes
            .container
                .text-field-wrapper
                    +textField("Text field", "email", "Email", "", true, false)
                .text-field-wrapper
                    +textField("Text field","text-field-focused", "This is pretty awesome", "This is pretty awesome", true, false)
                span.element-name dropdown
                .dropdown-wrapper
                    +dropdown("Сколько Гостей?", "dropdown-test", ["Взрослые", "Дети", "Младенцы"])
                .masked-text-field-wrapper
                    +textField("Masked text field", "masked-text", "ДД.ММ.ГГГГ", "", true, true)
                span.element-name date dropdown
                .date-blocks
                    .date-dropdown-wrapper
                        +dropdown("ДД.ММ.ГГГГ", "date-dropdown", [1, 2, 3])
                    span(style="margin-left:20px;")
                    .date-dropdown-wrapper
                        +dropdown("ДД.ММ.ГГГГ", "date-dropdown", [1, 2, 3])
                span.element-name filter date dropdown
                .filter-date-dropdown-wrapper
                    +dropdown("19авг - 23авг", "filter-dropdown", [1, 2, 3])
                .subscription-wrapper
                    +subscrText("subscription text field", "subscribe", "email")
            .container
                .checkbox-wrapper
                    +checkBox("checkbox buttons", [
                        {name: "smoke",value: "canSmoke", nameText: "Можно курить"},
                        {name: "animals", value: "withAnimals", nameText: "Можно с питомцами"},
                        {name:"guests", value: "guestsAllowed" , nameText: "Можно пригласить гостей (до 10 человек)"}
                        ])
                .radiobox-wrapper
                    +radioBox("radio buttons", [
                        {name: "gender", value: "men", nameText: "Мужчина", checked:true},
                        {name: "gender", value: "woman", nameText: "Женщина"}
                    ])
                .toggle-wrapper
                    +toggle("special", "Toggle", "Получать спрецпредложения", false)
                .toggle-wrapper
                    +toggle("special-2", "", "Получать спрецпредложения", true)
                span.element-name Like Button
                .like-button-wrapper
                    +likeBtn()
                span.element-name Rate Button
                .rate-button-wrapper
                    +rateBtn({name: "rate_test"})
            .container
                .range-slider-wrapper
                    +rangeSlider("range slider")
                span.element-name buttons
                .buttons-block
                    .button-wrapper
                        +btn("click me")
                    .button-wrapper
                        +btn("click me")
                .buttons-block
                    .button-wrapper
                        +ghostBtn("click me")
                    .button-wrapper
                        +ghostBtn("click me")
                .buttons-block
                    .button-wrapper
                        +borderlessBtn("click me")
                    .button-wrapper
                        +borderlessBtn("click me")
                    .button-wrapper
                .arrow-button-wrapper.button-wrapper
                    +arrButton("перейти к оплате")
                span.element-name pagination
                .pagination-wrapper
                    +pagination()
            .container
                .expandable-checkbox
                    +expandCheckbox("expandable checkbox list", [{nameText:"Завтрак", name:"breakfast", value:"breakfast"},{nameText:"Письменный стол", name:"table", value:"table"}])
            .container
                .rick-checkbox-wrapper
                    +richCheckbox("rich checkbox buttons", [{name:"wide", nameText:"Широкий коридор", subText:"Ширина коридоров в номере не менее 91 см."},
                        {name:"invalid-sup", nameText:"Помощник для инвалидов", subText:"На 1 этаже вас встретит специалист и проводит до номера."}])
            .container
                span.element-name bullet list
                .bullet-list-wrpapper
                    +bulletList(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"])
            .container
                .icon-text-list-wrapper
                    +iconTextList([{icon: 'insert_emoticon', text:"Комфорт", subText: "Шумопоглощающие стены"},{icon: 'location_city', text:"Удобство", subText: "Окно в каждой из спален"}])
script(src="/main.bundle.js")

