include ./components/form-elements/button/button
include ./components/form-elements/text-field/text-field
include ./components/form-elements/dropdown/dropdown
include ./components/form-elements/checkbox-buttons/checkbox-buttons
doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="main.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet")
        title TOXIN
    body
        img.gray-logo(src="/img/icon/logo-gray.png" alt="Logo")
        .container
            .text-field-wrapper
                +textField("Text field", "email", "Email", "")
                +textField("Text field","text-field-focused", "", "This is pretty awesome")
            .dropdown-wrapper
                +dropdown("Dropdown", "dropdown-test", ["Сколько Гостей?",1, 2, 3, "4"])
        .container
            .checkbox-wrapper
                +checkBox([{name: "smoke", nameText: "Можно курить"},
                    {name: "animals", nameText: "Можно с питомцами"},
                    {name:"guests", nameText: "Можно пригласить гостей (до 10 человек)"}])
        .container
            .button-wrapper
                +button("click me", "click-me")
