doctype html
html(lang="ru")
    head
        //meta(http-equiv="refresh" content="0;URL=/landing-page.html" )
body.index
    h1.index-title Welcome to Toxin Hotel website project
    h2.index-subtitle You can check demo webpage by clicking
        br
        a.index-link(href="/landing-page.html") this link
    h2.index-subtitle Or you can check UI kit of this website by clicking
        ul
            li
                a.index-link(href="/form-elements.html") Form elements
            li
                a.index-link(href="/colors-types.html") Colors and types
            li
                a.index-link(href="/layout.html") Header and footer
            li
                a.index-link(href="/cards.html") Cards
    h2.index-author Created by
        a.index-author__link(href="https://github.com/nikitavik")  Niktia Kornilov
