@import "../../../styles/main";
.masked-text-field{
  display: flex;
  flex-flow: column;
  &__input{
    box-sizing: border-box;
    padding: 13px 15px 13px 15px;
    max-height: 44px;
    width: 100%;
    background: #FFFFFF;
    color: $DarkShade75;
    border: 1px solid $DarkShade25;
    border-radius: 4px;
    font-size: 14px;
    line-height: (24/14);
    &::placeholder{
      color: $DarkShade25;
    }
    &:hover{
      border: 1px solid $DarkShade50;
    }
    &:focus{
      border: 1px solid $DarkShade50;
    }
  }
}