@import "src/styles/main";
.dropdown{
  width: 100%;
  position: relative;
  max-width: 320px;
  &__field{
    width: 100% ;
    padding: 9px 45px 9px 15px;
    border: 1px solid $DarkShade50;
    border-radius: 4px;
    background: #FFFFFF;
    cursor: pointer;
  }
  &__text{
    font-size: 14px;
    line-height: (18/14);
    color: $DarkShade75;
  }
  &__expand{
    position: absolute;

    min-width: 44px;
    min-height: 44px;

    right: 0;

    color: $DarkShade50;
    cursor: pointer;
  }
  &__options{
    display: none;
    position: absolute;
    top: 43px;
    width: 100%;
    z-index: 999;
    overflow: auto;
    background: #FFFFFF;
    border: 1px solid $DarkShade50;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  }
}
.dropdown__field.expand{
  border-bottom-color: #FFFFFF;
  border-radius: 4px 4px 0 0;
  border: 1px solid $DarkShade50;
}


// Options CSS
.dropdown{
  &__option{
    display: flex;
    justify-content: space-between;
    margin: 7px 7px 7px 15px;
    align-items: center;

    font-weight: bold;
    font-size: 12px;
    line-height: (15/12);
    text-transform: uppercase;
  }
  &__option-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 92px;
  }
  &__plus{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid $DarkShade50;
    box-sizing: border-box;
    border-radius: 22px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $DarkShade50;
    cursor: pointer;
  }
  &__minus{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid $DarkShade25;
    box-sizing: border-box;
    border-radius: 22px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $DarkShade50;
    cursor: pointer;
  }
  &__counter{
    display: inline-block;

  }

  &__buttons{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
  }
  &__confirm{
    margin: 0 7px 4px 0;
  }
  &__clear{
    margin-left: 14px;
  }
  &__sign{vertical-align: middle}
}
// Functional CSS
.dropdown{
  .disabled{
    border: 1px solid $DarkShade25;
  }
  .killed{
    display: none;
  }
}